<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Client</title>
</head>
<body>
    <h1>Edit Client</h1>
    <form action="/update_client/{{ client.id }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ client.name }}" required><br><br>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" value="{{ client.surname }}" required><br><br>
        <label for="telephone">Telephone:</label>
        <input type="text" id="telephone" name="telephone" value="{{ client.telephone }}" required><br><br>
        <input type="submit" value="Update Client">
    </form>
    <a href="/clients">Back to Clients</a>
</body>
</html>
